/* Override TableCell line-height */
.MuiTableCell-root {
  line-height: 1rem !important;
  border:none !important;
}

@media print {
  @page {
    margin: 0;
    size: auto;
  }
  body * {
    visibility: hidden;
  }
  #print-section,
  #print-section * {
    visibility: visible;
  }
  #print-section {
    position: absolute;
   /* Move the left edge to the exact middle of the page */
    left: 50%;
    /* Pull the element back by half its own width to center it perfectly */
    transform: translateX(-50%);
    
    top: 20px;
    width: 80mm; /* Standard Receipt Width */
    min-height: 80mm;
    margin: 0 auto;
    padding: 10px;
    background-color: white;
    color: black;
    box-shadow: none !important;
    overflow: visible !important;
    font-family: "Courier New", Courier, monospace; /* Receipt font */
  }
  @page {
    size: auto;
    margin: 5mm; /* Small margin to prevent cutting off text */
  }
  .no-print {
    display: none !important;
  }
}

.table-name-data{
  padding:4px 0px 0px 0px !important;
}
